.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-us-about-us {
  width: 100%;
  height: 3410px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.about-us-navbar {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 120px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.about-us-frame3 {
  top: 45px;
  left: 100px;
  width: 794px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.about-us-frame82 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 100px;
}
.about-us-group5 {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 5px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-group {
  top: 15.602312088012695px;
  left: 10.161625862121582px;
  width: 9.676667213439941px;
  height: 14.397687911987305px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.about-us-group1 {
  top: 0px;
  left: 10.161625862121582px;
  width: 9.676667213439941px;
  height: 14.332066535949707px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector01 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.about-us-group2 {
  top: 10.1611909866333px;
  left: 0px;
  width: 30px;
  height: 9.676839828491211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector02 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 10px;
  position: absolute;
}
.about-us-frame81 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.about-us-text {
  color: var(--dl-color-main-primary);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Recoleta;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 2px;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-text002 {
  color: var(--dl-color-main-primary);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Recoleta;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-frame2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.about-us-text004 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 40px;
  margin-bottom: 0;
}
.about-us-text006 {
  color: var(--dl-color-main-primary);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 40px;
  margin-bottom: 0;
}
.about-us-text008 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 40px;
  margin-bottom: 0;
}
.about-us-text010 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 40px;
  margin-bottom: 0;
}
.about-us-text012 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame4 {
  top: 40px;
  left: 1198px;
  width: 142px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-main-primary);
}
.about-us-frame41 {
  height: 56px;
  display: flex;
  padding: 15px 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-main-primary);
}
.about-us-text014 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame42 {
  top: 2561px;
  left: 0px;
  width: 1440px;
  height: 452px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.about-us-frame43 {
  top: 100.0009765625px;
  left: 295px;
  width: 850px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text016 {
  color: rgba(0, 0, 0, 1);
  width: 850px;
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 50px;
}
.about-us-frame42 {
  width: 277px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-main-primary);
}
.about-us-frame43 {
  height: 56px;
  display: flex;
  padding: 15px 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-main-primary);
}
.about-us-text018 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame63 {
  top: 3113px;
  left: 0px;
  width: 1440px;
  height: 297px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: var(--dl-color-text-slightlydark);
}
.about-us-frame631 {
  top: 85px;
  left: 100px;
  width: 277px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-us-frame821 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 50px;
}
.about-us-group51 {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 5px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-group3 {
  top: 15.602312088012695px;
  left: 10.161625862121582px;
  width: 9.676667213439941px;
  height: 14.397687911987305px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector03 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.about-us-group4 {
  top: 0px;
  left: 10.161625862121582px;
  width: 9.676667213439941px;
  height: 14.332066535949707px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector04 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 14px;
  position: absolute;
}
.about-us-group5 {
  top: 10.1611909866333px;
  left: 0px;
  width: 30px;
  height: 9.676839828491211px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector05 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 10px;
  position: absolute;
}
.about-us-frame811 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.about-us-text020 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Recoleta;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 2px;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-text022 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Recoleta;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-frame44 {
  width: 277px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-main-primary);
}
.about-us-frame45 {
  height: 56px;
  display: flex;
  padding: 15px 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-main-primary);
}
.about-us-text024 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame51 {
  top: 56px;
  left: 570px;
  width: 749px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-us-frame50 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.about-us-frame21 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 150px;
  flex-direction: column;
}
.about-us-text026 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 20px;
}
.about-us-frame45 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text028 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text030 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text032 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text034 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame31 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 150px;
  flex-direction: column;
}
.about-us-text036 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 20px;
}
.about-us-frame451 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-us-frame47 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
}
.about-us-call {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
}
.about-us-vuesaxoutlinecall {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-call1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector06 {
  top: 1.25px;
  left: 1.25px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.about-us-text038 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame46 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
}
.about-us-instagram {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
}
.about-us-vuesaxoutlineinstagram {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-instagram1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector07 {
  top: 1.25px;
  left: 1.25px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.about-us-vector08 {
  top: 7.75px;
  left: 7.75px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.about-us-vector09 {
  top: 5.499119281768799px;
  left: 16px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.about-us-text040 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame48 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
}
.about-us-facebook {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
}
.about-us-vuesaxoutlinefacebook {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-facebook1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector10 {
  top: 5.25px;
  left: 8.25px;
  width: 9px;
  height: 17px;
  position: absolute;
}
.about-us-vector11 {
  top: 1.25px;
  left: 1.25px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.about-us-text042 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame49 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.about-us-sms {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 10px;
}
.about-us-vuesaxoutlinesms {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-sms1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-vector12 {
  top: 2.75px;
  left: 1.25px;
  width: 21px;
  height: 18px;
  position: absolute;
}
.about-us-vector13 {
  top: 8.244140625px;
  left: 6.2470703125px;
  width: 11px;
  height: 5px;
  position: absolute;
}
.about-us-text044 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame46 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text046 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 20px;
}
.about-us-frame452 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text048 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text050 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text052 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text054 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-m-ake-donations {
  top: 120px;
  left: 0px;
  width: 1440px;
  height: 644px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.about-us-frame41 {
  top: 100px;
  left: 152px;
  width: 1136px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.about-us-frame40 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 90px;
  flex-direction: column;
}
.about-us-frame39 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-us-frame16 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 33px;
  flex-direction: column;
}
.about-us-text056 {
  color: var(--dl-color-default-bluelight);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text058 {
  color: var(--dl-color-text-dark);
  width: 376px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-text060 {
  color: var(--dl-color-text-dark);
  width: 516px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-rectangle5 {
  width: 530px;
  height: 444px;
  position: relative;
  border-color: transparent;
  border-radius: 10px;
}
.about-us-m-ake-donations1 {
  top: 764px;
  left: 0px;
  width: 1440px;
  height: 644px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.about-us-frame411 {
  top: 100px;
  left: 152px;
  width: 1136px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.about-us-rectangle51 {
  width: 530px;
  height: 444px;
  position: relative;
  border-color: transparent;
  margin-right: 90px;
  border-radius: 10px;
}
.about-us-frame401 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-us-frame391 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-us-frame161 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 33px;
  flex-direction: column;
}
.about-us-text065 {
  color: var(--dl-color-default-bluelight);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text067 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-text069 {
  color: var(--dl-color-text-dark);
  width: 516px;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame62 {
  top: 1479px;
  left: 100px;
  width: 1240px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-frame162 {
  width: 516px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 50px;
  flex-direction: column;
}
.about-us-text074 {
  color: var(--dl-color-default-bluelight);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text076 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame61 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-frame60 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 40px;
}
.about-us-frame56 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
}
.about-us-ellipse2 {
  width: 295px;
  height: 295px;
  position: relative;
  border-color: transparent;
  margin-bottom: 20px;
}
.about-us-frame52 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text078 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text080 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame57 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
}
.about-us-ellipse21 {
  width: 295px;
  height: 295px;
  position: relative;
  border-color: transparent;
  margin-bottom: 20px;
}
.about-us-frame521 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text082 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text084 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame55 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
}
.about-us-ellipse22 {
  width: 295px;
  height: 295px;
  position: relative;
  border-color: transparent;
  margin-bottom: 20px;
}
.about-us-frame522 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text086 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text088 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame54 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-ellipse23 {
  width: 295px;
  height: 295px;
  position: relative;
  border-color: transparent;
  margin-bottom: 20px;
}
.about-us-frame523 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text090 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text092 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame59 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.about-us-frame53 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
}
.about-us-ellipse24 {
  width: 295px;
  height: 295px;
  position: relative;
  border-color: transparent;
  margin-bottom: 20px;
}
.about-us-frame524 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text094 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text096 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame58 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
}
.about-us-ellipse25 {
  width: 295px;
  height: 295px;
  position: relative;
  border-color: transparent;
  margin-bottom: 20px;
}
.about-us-frame525 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text098 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text100 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
.about-us-frame591 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-ellipse26 {
  width: 295px;
  height: 295px;
  position: relative;
  border-color: transparent;
  margin-bottom: 20px;
}
.about-us-frame526 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-us-text102 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 10px;
}
.about-us-text104 {
  color: var(--dl-color-text-dark);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 139.9999976158142%;
  margin-right: 0;
  margin-bottom: 0;
}
